@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  /*elimina el scroll del eje x*/
  background-color: #ecf7ff;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 250px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 5px;
}

.card p:last-child {
  font-weight: bold;
  color: green;
}



/* contenedor principal */
.contenedor_principal {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  background-color: burlywood;
  /* Indicar cuantas columnas tendra */
  grid-template-columns: repeat(2, 1fr);
  /* Indicar cuantas filas tendra */
  grid-template-rows: 950px 450px;
  /* acomodar el grid */
  grid-template-areas: "contenedor_imagen      contenedor_formulario" "contenedor_imagen      contenedor_formulario";
}

.contenedor_principal .contenedor_principal_landing {
  background-color: brown;
  grid-area: contenedor_imagen;
}

.contenedor_principal .contenedor_principal_formulario {
  background-color: chartreuse;
  grid-area: contenedor_formulario;
}

.contenedor_principal_registro {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.contenedor_principal_registro .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}

.contenedor_principal_registro .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor_principal_registro .contenedor_registro-imagen:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225, #eb3874, #03a9f4);
  z-index: 1;
  mix-blend-mode: screen;
}

.contenedor_principal_registro .contenedor_formulario_registro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.contenedor_principal_registro .contenedor_formulario_registro .formulario_registro {
  width: 50%;
}

.contenedor_principal_registro .contenedor_formulario_registro .formulario_registro h2 {
  text-align: center;
  color: #30444e;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff4584;
  display: inline-block;
  letter-spacing: 1px;
}

.contenedor_principal_registro .contenedor_formulario_registro .formulario_registro .inputBx {
  margin-bottom: 20px;
}

.contenedor_principal_registro .contenedor_formulario_registro .formulario_registro .inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607db8;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.contenedor_principal_registro .contenedor_formulario_registro .formulario_registro .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607db8;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607db8;
  background: transparent;
  border-radius: 30px;
}

.contenedor_principal_registro .contenedor_formulario_registro .formulario_registro .inputBx input[type="submit"] {
  background: #ff4584;
  color: white;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.contenedor_principal_registro .contenedor_formulario_registro .formulario_registro .inputBx input[type="submit"]:hover {
  background: #f53677;
}

.contenedor_principal_registro .contenedor_formulario_registro .formulario_registro .inputBx p {
  color: #607db8;
}

.contenedor_principal_registro .contenedor_formulario_registro .formulario_registro .inputBx p a {
  color: #ff4584;
}

@media (max-width: 768px) {
  .contenedor_principal_registro .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .contenedor_principal_registro .contenedor_formulario_registro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .contenedor_principal_registro .formulario_registro {
    width: 100%;
    padding: 40px;
    background: white;
    opacity: 0.9;
    margin: 50px;
  }
}

.contenedor_principal_login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.contenedor_principal_login .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}

.contenedor_principal_login .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor_principal_login .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225, #e91e63, #03a9f4);
  z-index: 1;
  mix-blend-mode: screen;
}

.contenedor_principal_login .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.contenedor_principal_login .contentBx .formBx {
  width: 50%;
}

.contenedor_principal_login .contentBx .formBx h2 {
  text-align: center;
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff4584;
  display: inline-block;
  letter-spacing: 1px;
}

.contenedor_principal_login .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}

.contenedor_principal_login .contentBx .formBx .inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607db8;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.contenedor_principal_login .contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607db8;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607db8;
  background: transparent;
  border-radius: 30px;
}

.contenedor_principal_login .contentBx .formBx .inputBx input[type="submit"] {
  background: #ff4584;
  color: white;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.contenedor_principal_login .contentBx .formBx .inputBx input[type="submit"]:hover {
  background: #f53677;
}

.contenedor_principal_login .contentBx .formBx .inputBx p {
  color: #607db8;
}

.contenedor_principal_login .contentBx .formBx .inputBx p a {
  color: #ff4584;
}

@media (max-width: 768px) {
  .contenedor_principal_login .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .contenedor_principal_login .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .contenedor_principal_login .formBx {
    width: 100%;
    padding: 40px;
    background: white;
    opacity: 0.9;
    margin: 50px;
  }
}

.contenedor_principal_quizzes {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Indicar cuantas filas tendra */
  grid-template-rows: 250px auto;
  grid-template-areas: "contenedor_navbar contenedor_filtro contenedor_filtro contenedor_filtro"
 "contenedor_navbar contenedor_quizzes contenedor_quizzes contenedor_quizzes";
}

.contenedor_principal_quizzes .contenedor_nav {
  grid-area: contenedor_navbar;
  background-color: #2d40bf;
  height: 820px;
  width: 99%;
  margin-right: 4px;
  border-right: 1px solid #d6d6d6;
}

.contenedor_principal_quizzes .contenedor_nav .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contenedor_principal_quizzes .contenedor_nav .nav ul li {
  margin: 15px 0;
}

.contenedor_principal_quizzes .contenedor_nav .nav ul li .icono {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #314056;
  border-radius: 15px;
  text-align: center;
  margin-right: 10px;
}

.contenedor_principal_quizzes .contenedor_nav .nav ul li .icono i {
  line-height: 40px;
}

.contenedor_principal_quizzes .contenedor_nav .nav ul li .icono i a {
  text-decoration: none;
  color: #31415a;
  font-size: 16px;
  font-weight: 600;
}

.contenedor_principal_quizzes .contenedor_nav .nav ul li .selected {
  background-color: #2d40bf;
  color: #d6d6d6;
}

.contenedor_principal_quizzes .contenedor_filtro {
  grid-area: contenedor_filtro;
  height: 100%;
  width: 100%;
  background-color: #31415a;
}

.contenedor_principal_quizzes .contenedor_quizzes {
  grid-area: contenedor_quizzes;
  height: 100%;
  background-color: burlywood;
}
