<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section>
        <div class="contenedor_principal_quizzes">
            <div class="contenedor_nav"> 

                <div class="foto_usuario">
                    <img src="../images/user.png">
                </div>

                <nav class="nav" id="nav">
                    <ul>
                        <li>
                            <a href="#">
                                Quizzes
                                <div class="icono" id="0">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Grupos
                                <div class="icono" id="1">
                                    <i class="fa-solid fa-question"></i>
                                </div>
                                
                            </a>
                        </li>

                        <li class="item_cerrarSesion">
                            Cerrar sesion
                            <a id="boton_cerrarSesion" href="#">
                                <div class="icono" id="3">
                                    <i class="fa-solid fa-gear"></i>
                                </div>
                                
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>



        </div>
       
    </section>
</body>
<script src="../src/app.js"></script>
</html>